<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios Activos</title>
    <link rel="shortcut icon" type="image/png" href="/images/shine.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <style>
        .dataTables_wrapper .dataTables_paginate .paginate_button {
            color: #007bff;
            background-color: transparent;
            border: none;
            padding: 0;
            margin: 0 5px;
            font-size: 14px;
            cursor: pointer;
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            font-weight: bold;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 4px;
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            color: white;
            background-color: #0056b3;
            border: none;
            border-radius: 4px;
        }
        .dataTables_filter {
          display: none;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        #page-content-wrapper {
            flex: 1;
        }

        footer {
            position: relative;
            bottom: 0;
            width: 100%;
            background-color: #343a40;
            color: white;
            text-align: center;
            padding: 10px 0;
        }

        
    </style>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-dark border-right" id="sidebar-wrapper">
            <div class="sidebar-heading text-white">
                <div>
                    <img src="/images/shine.png" alt="Logo" class="img-fluid mb-2" style="max-width: 50px;">
                    SHINE DENTAL
                </div>
            </div>
            <div class="list-group list-group-flush">
                <a href="#clientes-pacientes-submenu" class="list-group-item list-group-item-action bg-dark text-white" data-toggle="collapse">
                    <i class="fas fa-user"></i> Pacientes
                </a>
                <div id="clientes-pacientes-submenu" class="collapse">
                    <a href="/admin/pacientes" class="list-group-item list-group-item-action bg-dark text-white pl-4">Pacientes</a>
                    <a href="/admin/citas" class="list-group-item list-group-item-action bg-dark text-white pl-4">Citas</a>
                    <a href="/admin/historial" class="list-group-item list-group-item-action bg-dark text-white pl-4">Historial Tratamiento</a>
                    <a href="/admin/pago" class="list-group-item list-group-item-action bg-dark text-white pl-4">Control de Pago</a>
                    <a href="/admin/archivados" class="list-group-item list-group-item-action bg-dark text-white pl-4">Pacientes Archivados</a>
                </div>
                <a href="#doctores-submenu" class="list-group-item list-group-item-action bg-dark text-white" data-toggle="collapse">
                    <i class="fas fa-user-md"></i> Doctores
                </a>
                <div id="doctores-submenu" class="collapse">
                    <a href="/admin/doctores" class="list-group-item list-group-item-action bg-dark text-white pl-4">Doctores</a>
                    <a href="/admin/usuarios" class="list-group-item list-group-item-action bg-dark text-white pl-4 active">Usuarios Activos</a>
                    <a href="/admin/usuariosinactivos" class="list-group-item list-group-item-action bg-dark text-white pl-4">Usuarios Inactivos</a>
                </div>
                <a href="#inventario-submenu" class="list-group-item list-group-item-action bg-dark text-white" data-toggle="collapse">
                    <i class="fas fa-box"></i> Inventario
                </a>
                <div id="inventario-submenu" class="collapse">
                    <a href="/admin/inventario" class="list-group-item list-group-item-action bg-dark text-white pl-4">Inventario</a>
                    <a href="/admin/compra" class="list-group-item list-group-item-action bg-dark text-white pl-4">Compra</a>
                </div>
                
                <a href="/admin/dashboard" class="list-group-item list-group-item-action bg-dark text-white">
                    <i class="fas fa-arrow-circle-left"></i> Regresar al Panel
                </a>
            
                <a href="/admin/login" class="list-group-item list-group-item-action bg-danger text-white">
                    <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                </a>
            </div>
            <!-- Botón de flecha -->
            <button class="btn btn-dark toggle-btn" id="menu-toggle">
                <i class="fas fa-chevron-left"></i>
            </button>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1 class="mt-4">Lista de Usuarios Activos</h1>
                <div class="text-left mb-3">
                    <a href="/admin/dashboard" class="btn btn-secondary">&larr; Regresar al Panel de Control</a>
                </div>

                <!-- Barra de búsqueda personalizada -->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscar usuario..." id="searchUsuario">
                </div>

                <!-- Tabla de usuarios activos -->
                <table class="table table-bordered" id="userTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Usuario</th>
                            <th>Rol</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="userList">
                        <% usuarios.forEach(function(usuario) { %>
                        <tr>
                            <td><%= usuario.idusuario %></td>
                            <td><%= usuario.user %></td>
                            <td>
                                <% if (usuario.rol_idrol == 1) { %>
                                    Doctor
                                <% } else if (usuario.rol_idrol == 2) { %>
                                    Auxiliar
                                <% } else { %>
                                    Administrador
                                <% } %>
                            </td>
                            <td>
                                <% if (usuario.estadoUsuario_idestadoUsuario == 1) { %>
                                    Activo
                                <% } else { %>
                                    Inactivo
                                <% } %>
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm" onclick="editarUsuario('<%= usuario.idusuario %>', '<%= usuario.user %>', '<%= usuario.rol_idrol %>')">Editar</button>
                                <button class="btn btn-warning btn-sm" onclick="toggleUsuario('<%= usuario.idusuario %>', '<%= usuario.estadoUsuario_idestadoUsuario %>', '<%= usuario.user %>')">
                                    <% if (usuario.estadoUsuario_idestadoUsuario == 1) { %>
                                        Inactivar
                                    <% } else { %>
                                        Activar
                                    <% } %>
                                </button>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>                    
                </table>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->

    <!-- Modal para modificar usuario (Solo editar el usuario) -->
    <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Editar Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editUserForm">
                        <input type="hidden" id="editUserId"> <!-- Hidden user ID field -->
                        <div class="form-group">
                            <label for="editUsername">Usuario</label>
                            <input type="text" id="editUsername" class="form-control" required>
                        </div>
                        <button type="button" class="btn btn-success" onclick="guardarCambios()">Guardar Cambios</button>
                    </form>                    
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para confirmar inactivación de usuario -->
    <div class="modal fade" id="confirmPasswordModal" tabindex="-1" aria-labelledby="confirmPasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmPasswordModalLabel">Confirmar Inactivación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Ingrese la contraseña del usuario para confirmar la inactivación:</p>
                    <input type="password" id="passwordInput" class="form-control" placeholder="Contraseña">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="confirmarInactivar()">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

     <!-- Pie de página -->
<footer class="bg-dark text-white text-center py-3 mt-4">
    <p class="mb-0">&copy; 2024 SHINE DENTAL. Todos los derechos reservados.</p>
</footer>
<!-- /Pie de página -->

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/dashboard.js"></script>
    <script>
        let usuarioId, usuarioEstado, usuarioUsername;

        $(document).ready(function() {
            // Inicializa DataTables y guarda la instancia
            var userTable = $('#userTable').DataTable({
                destroy: true,  // Destruir cualquier tabla previamente inicializada
                paging: true,
                searching: true,  // Habilitar búsqueda
                ordering: true,
                info: true,
                lengthChange: false,
                language: {
                    info: "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    paginate: {
                        next: 'Siguiente',
                        previous: 'Anterior',
                    },
                    emptyTable: 'No hay usuarios disponibles'
                },
                order: []  // No establecer un orden por defecto al cargar la tabla
            });

            // Vincula el campo de búsqueda personalizada al DataTable
            $('#searchUsuario').on('keyup', function() {
                userTable.search(this.value).draw();
            });
        });

        function editarUsuario(id, username) {
            $('#editUserId').val(id);  // Set the hidden user ID
            $('#editUsername').val(username);  // Set the username in the input field
            $('#editUserModal').modal('show');  // Show the modal
        }


        function guardarCambios() {
            const userId = $('#editUserId').val();  // Get the user ID from the hidden input
            const username = $('#editUsername').val();  // Get the new username from the input

            $.ajax({
                type: 'PUT',
                url: `/admin/usuarios/${userId}`,  // Update the user based on their ID
                data: JSON.stringify({ username: username }),  // Send only the username
                contentType: 'application/json',
                success: function(response) {
                    alert('Usuario actualizado exitosamente.');
                    location.reload();  // Reload the page to reflect changes
                },
                error: function(err) {
                    console.error('Error al actualizar usuario:', err);
                }
            });
        }


        function toggleUsuario(id, estado, username) {
            usuarioId = id;
            usuarioEstado = estado;
            usuarioUsername = username;
            $('#confirmPasswordModal').modal('show');
        }

        function confirmarInactivar() {
            const password = $('#passwordInput').val();  // Get the password input value

            if (password === '') {
                alert('Por favor, ingrese una contraseña.');
                return;
            }

            $.ajax({
                type: 'POST',
                url: `/admin/usuarios/validate-password`,  // Endpoint for password validation
                data: JSON.stringify({ userId: usuarioId, password: password }),  // Send userId and password to the server
                contentType: 'application/json',
                success: function(response) {
                    if (response.valid) {
                        inactivarUsuario();  // If the password is valid, proceed with the inactivation
                    } else {
                        alert('Contraseña incorrecta. No se ha podido inactivar el usuario.');
                    }
                },
                error: function(err) {
                    console.error('Error al validar la contraseña:', err);
                }
            });
        }



        function inactivarUsuario() {
            const action = usuarioEstado == 1 ? 'inactivar' : 'activar';  // Determine action based on the current state (1 = active, 0 = inactive)
            
            $.ajax({
                type: 'PUT',
                url: `/admin/usuarios/${action}/${usuarioId}`,  // Call the appropriate endpoint (inactivar or activar)
                success: function(response) {
                    alert(`Usuario ${action}do exitosamente.`);
                    location.reload();  // Reload the page to reflect changes
                },
                error: function(err) {
                    console.error(`Error al ${action} usuario:`, err);
                }
            });
        }

    </script>
</body>
</html>